header {
  height: 95px;
  position: relative !important;
}

.mid-header {
  padding: 10px 0;
  text-align: center;
}

.brand svg {
  width: 396px;
  height: 70px;
}

.ham-menu {
  display: none;
}

.weather {
  top: 12px;
  display: block !important;
  font: 16px/34px "Roboto Condensed", sans-serif;
  color: white;
}

.menu {
  right: 10px;
  top: 30px;
  bottom: 0;
}

.sub-btn {
  margin-left: 0;
}

.bot-header::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.bot-header {
  position: relative;
  display: block;
  padding: 10px 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background-color: white;
  border-bottom-color: #f4f5f6;
}

.bot-list {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

.bot-list li {
  border-left-style: solid;
  border-left-color: #d9d9d9;
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.bot-list li:first-child {
  border-left: 0;
}

.search-form {
  display: flex;
  align-items: center;
}

.search {
  padding-left: 10px;
  width: 50%;
  height: 100%;
}

.fa-search {
  font-size: 20px;
}

.top-wrapper {
  margin-top: 50px;
}

.col-4 {
  width: 71%;
}

.col-3 {
  width: 29%;
}

.col-3 .sticky-top {
  top: -300px;
}

.col-1 {
  width: 41%
}

.col-2 {
  width: 59%;
}

.editors-pick .col-sm-6 {
  max-width: 25%;
}

.sub-art {
  max-width: 65%;
}

.nl-bot {
  max-width: 35%;
  padding-top: 0;
}

.nl-cont {
  height: 100%;
  padding-bottom: 28px;
}

.nl-cont .img img {
  height: 100%;
}

.sub-cont {
  justify-content: space-between;
}

form {
  flex-direction: column;
}
